<?xml version="1.0"?>
<config>
    <modules>
        <Pagantis_Pagantis>
            <version>1.0.0</version>
        </Pagantis_Pagantis>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <bar>
                    <file>pagantis.xml</file>
                </bar>
            </updates>
        </layout>
        <translate>
            <modules>
                <pagantis_pagantis>
                    <files>
                        <default>Pagantis_Pagantis.csv</default>
                    </files>
                </pagantis_pagantis>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <resources>
            <pagantis_setup>
                <setup>
                    <module>Pagantis_Pagantis</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagantis_setup>
        </resources>
        <blocks>
            <pagantis_pagantis>
                <class>Pagantis_Pagantis_Block</class>
            </pagantis_pagantis>
        </blocks>
        <helpers>
            <pagantis_pagantis>
                <class>Pagantis_Pagantis_Helper</class>
            </pagantis_pagantis>
        </helpers>
        <models>
            <pagantis_pagantis>
                <class>Pagantis_Pagantis_Model</class>
            </pagantis_pagantis>
        </models>
    </global>
    <default>
        <payment>
            <pagantis>
                <active>1</active>
                <model>pagantis_pagantis/payment</model>
                <order_status>1</order_status>
                <title>Paga Mas Tarde</title>
                <url_pagantis>https://psp.pagantis.com/2/charges</url_pagantis>
                <url_pagantis_mastarde>https://pmt.pagantis.com/v1/installments</url_pagantis_mastarde>
                <environment></environment>
                <language_payment_page>ES</language_payment_page>
                <auth_method>SHA1</auth_method>
                <account_code_test></account_code_test>
                <account_key_test></account_key_test>
                <account_api_key_test></account_api_key_test>
                <account_code_real></account_code_real>
                <account_key_real></account_key_real>
                <discount></discount>
                <account_api_key_real></account_api_key_real>
                <sendmail>1</sendmail>
                <invoice>1</invoice>
                <!--<sort_order></sort_order>-->
                <payment_action>authorize_capture</payment_action>
            </pagantis>
        </payment>
    </default>
    <frontend>
        <translate>
            <modules>
                <pagantis_pagantis>
                    <files>
                        <default>Pagantis_Pagantis.csv</default>
                    </files>
                </pagantis_pagantis>
            </modules>
        </translate>
        <secure_url>
            <pagantis>/pagantis/pagantis</pagantis>
        </secure_url>
        <routers>
            <pagantis>
                <use>standard</use>
                <args>
                    <module>Pagantis_Pagantis</module>
                    <frontName>pagantis</frontName>
                </args>
            </pagantis>
        </routers>
        <layout>
            <updates>
                <pagantis_pagantis_redirect>
                    <file>pagantis.xml</file>
                </pagantis_pagantis_redirect>
            </updates>
        </layout>
    </frontend>
    <!--<crontab>
        <jobs>
            <pagantis_pagantis>
                <schedule>
                    <config_path>pagantis_config/settings/cron_settings</config_path>
                </schedule>
                <run>
                    <model>pagantis_pagantis/observer::exportOrders</model>
                </run>
            </pagantis_pagantis>
        </jobs>
    </crontab>-->
</config>
